.part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    color: var(--color-dark-3);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.part1>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.part1>div select {
    outline: none;
    border: none;
    background-color: var(--color-light-1);
    border: 1px solid var(--color-dark-2);
    padding:0.3rem;
    border-radius: 0.4rem;
    min-width: 25rem;
}

.part2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    margin-bottom: 1rem;
}

.iconFilter {
    font-size: 2.5rem;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pagination {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pagination button {
    width: 3rem;
    height: 3rem;
    font-size: 1.6rem;
    border-radius: 10rem;
}

@media (max-width: 40rem) {
    .part1>div select {
        width: 15rem;
    }

    .iconFilter {
        display: flex;
    }
}