.section{
    background-color: var(--color-light-1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid var(--color-dark-2);
}
.section ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section > ul li {
    background-color: var(--color-main-5);
    border-radius: 0.5rem;
    padding:  1rem;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.headFiltering{
    font-size: 1.5rem;
    font-weight: 500;
}

.section ul li > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 2.2rem;
}

.section ul li > div:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.section ul li > div:nth-of-type(2) input {
    width: 8rem;
    padding: 0.5rem;
    outline: none;
    border: 1px solid var(--color-dark-2);
    border-radius: 0.5rem;
}

.section ul li > div:nth-of-type(2) label {
    width: 100%;
}

.section > ul li > div:nth-of-type(2) ul {
    width: 100%;
}

.section > ul li > div:nth-of-type(2) ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.btn {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm{
    background-color: var(--color-dark-5);
    padding: 0.5rem 2rem ;
    color: var(--color-light-2);
    outline: none;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
}