.section {
    background-color: var(--color-light-1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
}

.img img {
    width: 100%;
    border-radius: 0.5rem;
}



.details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.details .sub {
    font-size: 1.2rem;
}

.details>p {
    font-size: 1.4rem;
    font-weight: 500;
}

.details p span {
    color: var(--color-dark-6);
}

.makeOrder input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1.35rem;
}

.makeOrder input::-webkit-inner-spin-button,
.makeOrder input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

.makeOrder>div {
    background-color: var(--color-main-5);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    overflow: hidden;
    padding-left: 0.5rem;
}

.iconEdit {
    font-size: 2.5rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    color: var(--color-main-1);
}

.iconEdit.show {
    opacity: 1;

}