.section {
    background-color: var(--color-light-1);
    border-top: 1px solid var(--color-main-5);
}

.footer {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 0;
    justify-items: center;
}

@media (max-width:45rem) {
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.footer>div>p {
    font-weight: 500;
    font-size: 1.7rem;
    padding: 1rem 0;
}

.footer>div ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer>div ul li {
    list-style-type: none;
    font-size: 1.4rem;
}

.footer>div:nth-of-type(3)>ul:nth-of-type(1) li {
    font-size: 2.2rem;
}

.footer>div ul li img {
    width: 4rem;
}

.copyright {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin: auto;
}

.footer>div ul.ulColRow {
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 15rem;
}
