.section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
}

.section .part1 {
    border: 1px solid var(--color-main-5);
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    background-color: var(--color-light-1);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
}

.section .part1>div:nth-of-type(1) {
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section .part1>div:nth-of-type(1) img{
    width: 80%;
    max-width: 35rem;
}

.section .part1>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.brand {
    color: var(--color-light-3);
    font-size: 1.4rem;
}

.name>p:nth-of-type(2) {
    font-size: 2rem;
    font-weight: 600;
}

.description {
    background-color: var(--color-main-5);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.details>p {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
}

.details p span {
    font-size: 1.4rem;
    color: var(--color-dark-6);
}

.makeOrder input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 1.35rem;
}

.makeOrder input::-webkit-inner-spin-button,
.makeOrder input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
}

.makeOrder>div {
    max-width: 30rem;
    border: 1px solid var(--color-main-5);
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    overflow: hidden;
    padding-left: 0.5rem;
}

.iconEdit {
    font-size: 2.5rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    color: var(--color-main-1);
}

.iconEdit.show {
    opacity: 1;

}