.section {
    background-color: var(--color-light-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.allCategoryAndSub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    background-color: var(--color-main-5);
    cursor: pointer;
    min-width: 20rem;
}


.section>ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
}

.section>ul li {
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
}

.section>ul li:hover {
    color: var(--color-main-1);
}


/* ---------------------- */
.iconEdit {
    font-size: 2.2rem;
    color: var(--color-main-1);
}

.upSearchDiv {
    width: 100%;
    position: relative;
}

.upSearchDiv .search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: var(--color-main-5);
}

.search input {
    width: 100%;
    background-color: transparent;
    color: var(--color-dark-1);
    border: none;
    outline: none;
    font-size: 1.5rem;
}

.dataSearch {
    position: absolute;
    top: 100%;
    z-index: 1050;
    width: 100%;
    background-color: var(--color-light-1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: var(--box-shadow-1);
}

.dataSearch ul li {
    padding: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
}

.dataSearch ul li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
}

.dataSearch ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dataSearch ul li:hover {
    background-color: var(--color-main-3);
}

.dataSearch ul li .img {
    width: 20%;
    min-width: 6rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataSearch ul li .img img {
    width: 100%;
}

.dataSearch ul li div:nth-of-type(2) p:nth-of-type(2) {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
}

.available {
    color: var(--color-main-2);
}

.unAvailable {
    color: var(--color-red-1);
}

/* ---------------- */
@media (max-width: 45rem) {
    .section>ul {
        display: none;
    }

    .allCategoryAndSub {
        display: none;
    }
.section{
    background-color: transparent;
    padding:0 1rem;
}
    .upSearchDiv .search {
        padding: 1rem;
    }
}

@media (min-width:calc(45rem + 1px)) {
    .upSearchDiv {
        margin-left: 0.5rem;
        max-width: 35rem;
        min-width: 25rem;
    }
}