.main {
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: var(--color-light-1);
    border: 1px solid var(--color-main-5);
    border-radius: 0.5rem;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.part1,
.part3 {
    border-left: 1px solid var(--color-dark-2);
}

.part3 {
    border-left: none;
    border-right: 1px solid var(--color-dark-2);
}

/* ------------------ */
.part1 {
    display: grid;
    grid-template-rows: auto auto 1fr;
    padding-bottom: 0.5rem;
}

.part1>.head {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    padding: 1rem;
    height: 5rem;
}

.part1 .search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.part1 .search {
    font-size: 1.4rem;
    border: 1px solid var(--color-dark-2);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0 1rem;
}

.part1 .search .icon {
    font-size: 2.2rem;
}

.part1 .search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.allNegotiation {
    padding: 0 0.5rem;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.containerVendorData {
    background-color: var(--color-dark-4);
    color: var(--color-light-2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.vendors {
    overflow: hidden;
}

.vendors>ul {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.vendors>p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1rem 0;
}

.vendors>ul li .image,
.vendorData .head .image {
    min-width: 7rem;
    max-width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 2px solid var(--color-dark-2);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vendorData .head {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.vendorData .head .image {
    min-width: 8rem;
    max-width: 8rem;
    height: 8rem;
    border: 2px solid var(--color-main-5);
}

.toggleVendorData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 0.5rem;
    padding: 1rem 0;

}

.toggleVendorData li a {
    background-color: rgb(75, 97, 66);
    color: var(--color-light-2);
    display: inline-block;
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.toggleVendorData li a.active {
    background-color: var(--color-dark-5);
}

.containerVendorData .view {
    display: grid;
    grid-template-rows: auto 1fr;
}



/* ----------------------- */
.part2 {
    display: grid;
    grid-template-rows: auto 70vh;
    overflow: hidden;
}

.part2 .head {
    background-color: var(--color-dark-4);
    color: var(--color-light-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid var(--color-dark-5);
    height: 6rem;
}

.part2 .head .image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid var(--color-dark-5);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.part2 .head .image img {
    width: 100%;
}

.products {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    gap: 0.5rem;
    color: var(--color-dark-3);
}

.products>div {
    background-color: var(--color-dark-4);
    color: var(--color-light-2);
    border-radius: 0.4rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: fit-content;
}

.products>div .data {
    border: 1px solid var(--color-dark-2);
    border-radius: 0.2rem;
    background-color: var(--color-main-5);
    color: var(--color-dark-3);
}

.products>div ul {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.products>div ul:nth-of-type(1) {
    border-bottom: 1px solid var(--color-dark-2);
}

.products>div ul li {
    padding: 0.5rem;
    text-align: center;
}

.iconActivePart3,
.iconUnActivePart3 {
    font-size: 2.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.iconActivePart3:hover {
    transform: translateX(0.4rem);
}

.iconUnActivePart3:hover {
    transform: translateX(-0.4rem);
}


/* ----------------------- */
.part3 {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding: 1rem;
    position: absolute;
    background-color: var(--color-light-1);
    border-right: 1px solid var(--color-dark-2);
    box-shadow: 1rem 0 15rem #111f085e;
    height: 100%;
    left: -50rem;
    transition: 1s;
}

.part3.active {
    left: 0;
}

.part3 .head {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.allData {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 1rem;
    font-size: 1.4rem;
    background-color: var(--color-main-5);
    border-radius: 0.5rem;
}

.allData li {
    padding: 0.4rem 2rem;
}

.allData li>p:nth-of-type(1) {
    font-weight: 500;
}

/* ------------- */

@media (max-width:60rem) {
    .main {
        grid-template-columns: 2fr 3fr;
    }
}

@media (max-width:50rem) {
    .main {
        grid-template-columns: 2fr 2fr;
    }
    .products {
        grid-template-columns: 1fr;
    }
}

@media (max-width:38rem) {
    .main {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .part3{
        position: fixed;
        top: 0;
        z-index: 10001;
        padding: 2rem 1rem;
    }
}
